.simulation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.simulation_container{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Josefin Slab', serif;
    max-width: var(--container_width);
    text-align: center;
}

.all_simulations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.little_simulation{
    display: grid;
    background-color: var(--black);
    color: var(--white);
    border-radius: 25px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.dividends{
    grid-column: span 2;
}

.little_simulation_fields1{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}

.timeUnitTax{
    grid-column: span 2;
    display: flex;
}

.aplied_time{
    grid-column: span 2;
    display: flex;
}

.search{
    grid-column: span 2;
}

.little_simulation_fields2{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}

.little_simulation button{
    all: unset;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 8px;
    border-radius: 60px;
    font-size: 1.7rem;
    border: 2px solid var(--white);
    cursor: pointer;
}

.little_simulation button:hover{
    background-color: var(--transparent);
    color: var(--white);
}

.little_simulation label{
    font-size: 1.3rem;
}

.little_simulation input[type="number"], .little_simulation input[type="text"]{
    all: unset;
    background-color: var(--dark_gray);
    padding: 7px;
    border-radius: 4px;
}

.little_simulation input[type=number]::-webkit-inner-spin-button,
.little_simulation input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.simulation_checkboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.simulation_checkboxes input[type=checkbox]{
    transform: scale(2);
}

.simulation_checkboxes_item{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.simulation_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.addButton{
    all: unset;
    background-color: var(--black);
    color: var(--white);
    font-size: 4.5rem;
    border-radius: 50px;
    aspect-ratio : 1/1;
    width: 75px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--black);
}

.addButton:hover{
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
}

.simulateButton{
    all: unset;
    background-color: var(--black);
    color: var(--white);
    font-size: 2.5rem;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--black);
    padding: 10px 100px;
    text-transform: uppercase;
}

.simulateButton:hover{
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
}

.simulation_results{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.simulation_results div{
    width: 33.33%;
}

.simulation_results div h3{
    font-size: 1.5rem;
}